.unit-image-wrapper {
    z-index: 1;
    overflow: hidden;
    -webkit-box-flex: 1;
    flex-grow: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:block
}

.full-width-img {
    /* width:100%; */
    width: 1900px;
    height:calc(1900px*1200/2400);
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}


.video-card{
    width: 100%;
    border-radius: 25px;
}

.card-video-row {
    background-color: transparent;
    margin-left: calc((100vw - 900px) / 2);
    margin-right: calc((100vw - 900px) / 2);
    padding-bottom: 30px;
}

.card-container {
    padding: 0 calc(100vw / 190);
}

.phone-card-slides {
    display: none;
}

.carousel-indicators > button {
    border-radius: 50%;
    width: 10px !important; 
    height: 10px !important; 

}
.carousel-indicators {
    bottom: -35px !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
@media(max-width:1200px) {
     .full-width-img {
        width:1500px;
        height:auto;
    }

}

@media(max-width:833px) {
    .full-width-img {
        /* width:1200px; */
        width:750px;
        height:auto;
    }

    .unit-image-wrapper {
        align-items: center;
        justify-content: center;
    }

    
}


@media (max-width: 992px) {
    .card-video-row {
        background-color: black;
        margin-left: calc(100vw / 10);
        margin-right: calc(100vw / 10);
        padding-bottom: 50px;
    }

    .card-container {
        padding-bottom: 50px;

    }
}


@media (max-width: 768px) {
    .phone-card-slides{
        display: block;
    }

    .non-phone-card-slides {
        display: none;
    }
}
