#margin-top-ka1s-btns {
    margin-top:850px;
    z-index: 2;
}
#margin-top-ka1s-btns-2 {
    margin-top:800px;
    z-index: 2;
}
.btn-order {
    height:80px;
    line-height:75px;
    font-size:25px;
}

.ka1s-section {
    background-color:black;
    overflow-x: hidden;
}

@media(max-width:1200px) {
    
    #margin-top-ka1s-btns {
        margin-top:670px;
    }
    #margin-top-ka1s-btns-2 {
        margin-top:630px;
    }
    .btn-order {
        height:60px;
        line-height:60px;
        font-size:22px;
        padding:0 35px;
    }
   
}
@media(max-width:833px) {
    #margin-top-ka1s-btns {
        margin-top:335px;
    }
    #margin-top-ka1s-btns-2 {
        margin-top:315px;
    }
    .btn-order {
        height:30px;
        line-height:30px;
        font-size:11px;
        padding:0 20px;
    }
}