.w-95 {
    width: 95%!important;
}

.col-2 {
    padding-left: 0px;
    padding-right: 0px;
}

.form-select{
    font-family: GlacialIndifference-Regular;
}

.buy-btn{
    border: 1px solid transparent;
    background-color:transparent;
}

.btn-tertiary{
    background-color: #0077ED;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    padding: 0px 50px;
    width: max-content;
    font-family: "GlacialIndifference-Regular", Sans-serif;
    border-color: transparent;
    text-align: center;
    outline: none;
}

.btn-tertiary:hover{
    background-color: white;
    color: black;
}

.small-img-group{
    display:flex;
    justify-content: space-between;
    
}

.small-img-col{
    flex-basis: 23%;
    cursor: pointer;
    padding: 0.2vw;
}

.small-img{
    border-radius: 1vw;
}

#productlocationizer {
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border-radius: 5px;
}

.h1 {
    font-size: calc(1rem + 1.5vw);
    font-family: "GlacialIndifference-Bold";
}

.h3 {
    font-size: 1.875rem;
}

.disc-header {
    font-size: 18px;
    font-family: "GlacialIndifference-Bold";
    color: #717273;
}

.disc-content {
    font-size: 16px;
    color: #717273;
    font-family: GlacialIndifference-Regular;
    font-weight: 300;
}

.itb-main-text{
    font-size: 2.5rem;
    font-family: "GlacialIndifference-Bold";
    color: #86868B;
    margin-top: 1rem;
    margin-left: 1.3rem;
}
.itb-header{
    font-size: 28px;
    font-family: "GlacialIndifference-Bold";
    margin-top: 1rem;
}

.itb-content{
    font-size: 16px;
    color:#717273;
    margin-bottom: 5px;
    font-family: GlacialIndifference-Regular;
    font-weight: 300;
}
.itb-item{
    font-size: 24px;
    font-family: "GlacialIndifference-Bold";
    color:#717273;
    margin-top: 25px;
}

.card-itb {
    background-color: #F5F5F7;
    padding: 15px 30px;
    border-radius: 30px;
    margin-bottom: 25px;
}

.card-itb-2 {
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 30px;
    margin-bottom: 25px;
    border: 2px solid #F5F5F7
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.products * {
    flex-shrink: 0;
    flex-grow: 0;
}

ul {
    display: list-item;
    list-style-position: inside;
    margin-bottom: 0px;
}

.card-text > ul {
    display: list-item;
    list-style-position:inside;
    padding-left: 5px;
    font-weight: 300;
    font-size: 1rem;
}

.card-text > ul > ul {
    display: list-item;
    list-style-position: inside;
    padding-left:10px;
}

ul::marker {
    font-size: 1.2rem;
    margin-right: 10px;
    padding-left: 10px;
}



.card-title {
    color: black;
    text-decoration: none;
    text-decoration-color: black;
    text-align: center;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.ordered-list {
    font-weight: 300;
    font-size: 1rem;
}

.product-disclaimer {
    font-weight: 300;
    font-size: 0.8rem;
}

#includes > div >div > ul {
    font-weight: 300;
    font-size: 1rem;
    padding: 5px 0px;
}


.installationyoutube {
    width:calc(100vw/2.25); 
    height: calc(100vw/2.25*(9/16)); 
    border-radius: 25px;
}
.modal-dialog {
    max-width: 80%; 
    background-color: #f5f5f7; 
    border-radius: 50px; 
    padding: 50px;
}


.modal-close-btn {
    justify-content: end;
    display: grid;
    position: absolute;
    top: -25px;
    right: 0px;
    z-index: 2;
}


@media (max-width: 991px) {
    #localizer {
        align-self: center;
        max-width: 400px;
        display: inline;
    }
    
    .buy-btn {
        display: inline;
    }

    .buyButtonDiv{
        text-align: center;
    }

    .installationyoutube {
        width:calc(100vw*0.75); 
        height: calc(100vw*0.75*9/16); 
        border-radius: 25px;
    }

    .small-img-col{
    padding: 1vw;
    }

    .small-img{
    border-radius: 2.5vw;
    }
    
    .col-3 {
    width: 50%;
    }
}

@media (max-width: 833px) {
    .modal-dialog {
        max-width: 100%;
        padding:50px 10px;
    }

    .br-mobile-thin{
        display: none;
    }
    

}

@media (max-width: 575.98px) { 

    .modal-close-btn {
        top: -35px;
    }
}

/* @media (min-width: 1200px)
.col-xl-6 {
    flex: 0 0 auto;
    width: 75%;
}
 */
