/*
.section-support {
    margin-top: 40px;
}

.section-support>* {
    font-family: "Glacial Indifference-Regular";
}


.form-select{
    width: 350px;
}

.card { 
    margin-bottom: 25px;
    border-radius: 25px;
    background-color: #f5f5f7;
    border-width: 0px;
}

.card-body { 
    padding: 15px 50px;
}
.card-title { 
    text-align: start;
    font-family: "Glacial Indifference-Bold";
    font-size: calc(1.3rem + .7vw);
}
.card-subtitle { 
    text-align: start;
    color: #717273;
    margin-bottom: 25px;
    font-size: 1rem;
}

.card-description { 
    text-align: start;
    color: #717273;
    margin-bottom: 15px;
    font-family: "Glacial Indifference-Bold";
    font-size: 1rem;

}

.card-data { 
    font-family: "Glacial Indifference-Regular";
    font-size: 1rem;
}

.table{
    table-layout: fixed;
    width: 1050px;
    border: 1px solid black;
    vertical-align: middle;
}


.div-table{
    justify-content: center;
    display: flex;
    overflow:hidden;
}

td {
    font-weight: 300;
    border: 0.5px solid black;
    padding:0px
}

th {
    border: 0.5px solid black;
    vertical-align: middle;
    font-weight: 800;
}

#header-table-1 :nth-child(1){
    width: 100px;
}
#header-table-1 :nth-child(2){
    width: 100px;
}
#header-table-1 :nth-child(3){
    width: 100px;
}

#header-table-1 :nth-child(4){
    width: 100px;
}

#header-table-1 :nth-child(5){
    width: 175px;
}

#header-table-1 :nth-child(6){
    width: 175px;
}

#header-table-2 :nth-child(1){
    width: 150px;
}
#header-table-2 :nth-child(2){
    width: 150px;
}
#header-table-2 :nth-child(3){
    width: 150px;
}

#header-table-2 :nth-child(4){
    width: 150px;
}

#header-table-2 :nth-child(5){
    width: 150px;
}

#support-car-video {
    border-radius: 25px;
    aspect-ratio: 16/9;

}

@media (max-width: 991px) {
    .div-table{
        display: block;
    }
}

@media (max-width: 1100px) {
    .div-table{
        display: block;
        overflow:scroll;
    }
}
*/