<!-- Footer -->
<footer  class="footer text-center">
    <div class="container max-w-4xl">
        <div class="my-4 gap-3 row d-flex justify-content-center" style="color: rgb(241, 241, 241);">
            <div class="main-btm-description col-md">
                <div class = "footer-buttons my-3">
                    <a href = "{{ "/faq" | relative_url }}">FAQ</a>
                </div>
                <div class = "footer-buttons my-3">
                    <a href = "{{ "/terms" | relative_url }}">Product T&C</a>
                </div>
                <div class = "footer-buttons my-3">
                    <a href = "{{ "/privacy" | relative_url }}">User Privacy Policy</a>
                </div>
                <div class = "footer-buttons my-3">
                    <a class= "footer-inline-link" href = "mailto:support@kommu.ai">support@kommu.ai</a>
                </div>
                
            </div>
            <div class="main-btm-description col-md">
                <h6 class="h5 font-bold" style="color:#b2b2b2;">With the <span style="font-weight:800; color:#f1f1f1;">community</span> approach, we solve the way we <span style="font-weight:800; color:#f1f1f1;">commute</span> with vehicular <span style="font-weight:800; color:#f1f1f1;">communication</span>.</h6>
                <br>
                <p>Kommu Sdn Bhd (1382629-U)</p>
                <p>C/105B, Block C, Jalan PJU 10/2a, Damansara Damai, 47830 Petaling Jaya, Selangor</p>
            </div>
        </div>
        <div class="row d-flex" >
            <div class="main-btm-img col-12 d-flex justify-content-center" style = "margin-bottom: 1.5rem;">
                <a href = "https://www.facebook.com/kommu.official/" target="_blank"> <i class="fab fa-facebook fa-xl"></i></a>
                <a href = "https://wa.me/60149676780" target="_blank"><i class="fab fa-whatsapp fa-xl"></i></a>
                <a href = "https://www.instagram.com/kommu.ai/" target="_blank"><i class="fab fa-instagram fa-xl"></i></a>
                <a href = "https://www.youtube.com/channel/UCErrOBbNJ0DDo4yg8_6DufA" target="_blank"> <i class="fab fa-youtube fa-xl"></i></a>
                <a href = "https://www.tiktok.com/@kommuai" target="_blank"><i class="fab fa-tiktok fa-xl"></i></a>
                <a href = "https://github.com/kommuai/bukapilot" target="_blank"><i class="fab fa-github fa-xl"></i></a>
            </div>
        </div>
        <div class="row d-flex justify-content-center">

                <p id="footer" class="copyright text-white">{{ site.copyright }}</p>

        </div>
    </div>
</footer>
<style>
    #footer {font-size: 0.9rem; text-align: center;}
</style>
