<!-- Navigation -->
<nav class="navbar navbar-expand-sm py-1 navbar-dark sticky-top" role="navigation" style="background-color: #000000;font-size: 14px; font-weight: 400;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbar">
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/" | relative_url }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/ka1s" | relative_url }}">KommuAssist 1s</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Store</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ "/products" | relative_url }}">Product</a>
                        <a class="dropdown-item" href="{{ "/accessories" | relative_url }}">Accessories</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/support" | relative_url }}">Supported Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/kommunity" | relative_url }}">Kommunity</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
